@use "../variables" as v;

 .btn-primario {
      background: #14532d;
      color:white;
      border: none;
      padding: 10px 15px;
      border-radius: 8px;
      cursor: pointer;
      font-weight: bold;
    }

    .btn-pro {
      background-color: #14532d;
      color: white;
      border: none;
      padding: 5px 10px;
      border-radius: 8px;
      cursor: pointer;
      font-weight: bold;
    }

    .btn-secundario {
      background: #e5e7eb;
      border: none;
      padding: 8px 12px;
      border-radius: 8px;
      cursor: pointer;
    }

    .btn-mini {
      margin-top: 10px;
      background: #7f1d1d;
      color: white;
      border: none;
      padding: 8px 12px;
      border-radius: 8px;
      cursor: pointer;
    }